body{
    background-color: #E3FDFD;
    text-align: center;
}
.tcloud{
 margin-left: 400px;
}
.bcloud{
  margin-right: 400px;
}
/* .master_name{
} */
.mountain{
  margin-top: 84px;
}
.main_div{
   margin-top: 108px;
}