body{
  text-align: center;
  font-family: 'Scramento';
}
.b2{
  margin-bottom: 70px;
}
.bcloud{
margin-right: 43.75rem;
}
.bottom{
  background-color: #66BFBF;
  margin-right: -6px;
  margin-left: -6px;
  margin-bottom: -20px;
  padding-top: 80px;
}
.btn {
  background:  #11cdd4;
  background-image: -webkit-linear-gradient(top,  #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top,  #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top,  #11cdd4, #11999e);
  background-image: -o-linear-gradient(top,  #11cdd4, #11999e);
  background-image: linear-gradient(to bottom,  #11cdd4, #11999e);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.footer-link{
  color: #11999E;
  margin-right: 10px;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}
h1{
  font-size: 50px;
  /* font-family: 'Sacramento', cursive; */
  font-family: 'Pacifico', cursive;
  color: #66BFBF;
}
h2{
  color: #66BFBF;
}
h3{color: #11999E;}
hr{
  border: dotted #d2d2d2 6PX;
  border-bottom: 0px;
  width: 4%;
}
.main_div{padding-top: 6.75rem;}
.middle{

  margin-right: -1px;
  margin-left: -20px;
}
.mountain{
margin-top: 0.6875rem;
}
p{
/* font-family: 'EB Garamond', serif; */
font-family: 'Roboto', sans-serif;
color: #40514E;
}
.profiledet{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: center;
}
.skill-row{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}
.skill-pic1{
  float: left;
  /* margin-right: 20px;
  margin-bottom: 10px; */
 
}
.skill-pic2{
  float: right;
  /* margin-bottom: 10px; */
}
.tcloud{
  margin-right: -43.75rem;
  }
.top-container{
  background-color:#f2feff ;
  margin-top: -8px;
  margin-right: -8px;
  margin-left: -8px;
  /* margin-bottom: 30px; */
}
.trademark{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-bottom: 10px;
}

