body{
    background-color: #E3FDFD;
}
hr{
    border-style: dotted none none none;
    border-color: #71C9CE;
    border-width: 10px;
    width: 20%;
    
    height: 0px;
}
h1{
  color: #71C9CE;
}
h2{
  color: #71C9CE;
}
h3{
  color: #71C9CE;
}
